In [6]:
import pandas as pd

In [35]:
pymoli_file = "../Instructions/HeroesOfPymoli/Resources/purchase_data.csv"
pymoli_df = pd.read_csv(pymoli_file)
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [36]:
### PURCHASING ANALYSIS (TOTAL)
unique_players = len(pymoli_df['SN'].unique())

unique_items = pymoli_df['Item ID'].value_counts()
average_item_price = pymoli_df['Price'].mean()
total_purchases = pymoli_df['Purchase ID'].count()
total_revenue = pymoli_df['Price'].sum()

summary_table1 = pd.DataFrame({'Unique Items': len(unique_items), 
                               'Average Item Price': average_item_price,
                               'Number of Purchases': total_purchases, 
                               'Total Revenue': total_revenue}, index = [0])

summary_table1['Total Revenue'] = summary_table1['Total Revenue'].map('${:,.2f}'.format)
summary_table1['Average Item Price'] = summary_table1['Average Item Price'].map('${:,.2f}'.format)

summary_table1

   Unique Items Average Item Price  Number of Purchases Total Revenue
0           179              $3.05                  780     $2,379.77

In [54]:
### GENDER DEMOGRAPHICS
male_count = pymoli_df.loc[pymoli_df['Gender'] == 'Male',:]
female_count = pymoli_df.loc[pymoli_df['Gender'] == 'Female',:]
other_count = pymoli_df.loc[pymoli_df['Gender'] == 'Other / Non-Disclosed',:]

male_count_clean = male_count['SN'].value_counts()
female_count_clean = female_count['SN'].value_counts()
other_count_clean = other_count['SN'].value_counts()
total_count = len(male_count_clean) + len(female_count_clean) + len(other_count_clean)

gender_df = pd.DataFrame({'Gender':['Male','Female','Other/Not_Specified'], 
                          'Value': [len(male_count_clean),len(female_count_clean),len(other_count_clean)]
                         })
gender_df['Percentage of Players'] = ["{:.2%}".format(len(male_count_clean)/total_count), 
                                      "{:.2%}".format(len(female_count_clean)/total_count), 
                                      "{:.2%}".format(len(other_count_clean)/total_count)]
gender_df

                Gender  Value Percentage of Players
0                 Male    484                84.03%
1               Female     81                14.06%
2  Other/Not_Specified     11                 1.91%

In [53]:
### PURCHASING ANALAYSIS BY GENDER
gender_count = pymoli_df['Gender'].value_counts()
grouped_gender = pymoli_df.groupby('Gender')
pymoli_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60