In [161]:
import pandas as pd
import numpy as np

In [2]:
pymoli_file = "../Instructions/HeroesOfPymoli/Resources/purchase_data.csv"
pymoli_df = pd.read_csv(pymoli_file)
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [46]:
### TOTAL PLAYERS
total_players = len(pymoli_df['SN'].value_counts())
player_count = pd.DataFrame({'Total Players':[total_players]})
player_count

   Total Players
0            576

In [156]:
### PURCHASING ANALYSIS (TOTAL)
unique_players = len(pymoli_df['SN'].unique())

unique_items = pymoli_df['Item ID'].value_counts()
average_item_price = pymoli_df['Price'].mean()
total_purchases = pymoli_df['Purchase ID'].count()
total_revenue = pymoli_df['Price'].sum()

summary_table1 = pd.DataFrame({'Number of Unique Items': len(unique_items), 
                               'Average Item Price': average_item_price,
                               'Number of Purchases': total_purchases, 
                               'Total Revenue': total_revenue}, index = [0])

summary_table1['Total Revenue'] = summary_table1['Total Revenue'].map('${:.2f}'.format)
summary_table1['Average Item Price'] = summary_table1['Average Item Price'].map('${:.2f}'.format)

summary_table1

,Number of Unique Items,Average Item Price,Number of Purchases,Total Revenue
0,179,$3.05,780,$2379.77

In [147]:
### GENDER DEMOGRAPHICS
gender_df = pymoli_df.copy()

gender_grouped = gender_df.groupby('Gender')
total_gender_count = gender_grouped['SN'].nunique()
percentage_by_gender = (total_gender_count / total_players) * 100

gender_demographics = pd.DataFrame({'Total Count': total_gender_count,
                                   'Percentage of Players': percentage_by_gender
                                   })
gender_demographics['Percentage of Players'] = gender_demographics['Percentage of Players'].map('{:.2f}%'.format)
gender_demographics

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [155]:
### PURCHASING ANALAYSIS BY GENDER
gender_grouped = pymoli_df.groupby('Gender')

purchase_countg = gender_grouped['Purchase ID'].count()
total_purchaseg = gender_grouped['Price'].sum()
average_purchase_priceg = gender_grouped['Price'].mean()
avg_total_purchase_per_persong = total_purchaseg / total_gender_count

gender_purchasing_analysis = pd.DataFrame({'Purchase Count': purchase_countg,
                                          'Average Purchase Price': average_purchase_priceg,
                                          'Total Purchase Value': total_purchaseg,
                                          'Avg Total Purchase per Person': avg_total_purchase_per_persong
                                          })


gender_purchasing_analysis['Average Purchase Price'] = gender_purchasing_analysis['Average Purchase Price'].map('${:.2f}'.format)
gender_purchasing_analysis['Total Purchase Value'] = gender_purchasing_analysis['Total Purchase Value'].map('${:.2f}'.format)
gender_purchasing_analysis['Avg Total Purchase per Person'] = gender_purchasing_analysis['Avg Total Purchase per Person'].map('${:.2f}'.format)

gender_purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [158]:
### AGE DEMOGRAPHICS
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
group_names = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
age_df = pymoli_df.copy()

age_df["Age Group"] = pd.cut(age_df["Age"], bins, labels=group_names, include_lowest=True)
age_grouped = age_df.groupby('Age Group')
total_age_count = age_grouped['SN'].nunique()
percentage_by_age = (total_age_count/total_players) * 100

age_demographics = pd.DataFrame({'Total Count': total_age_count, 
                                 'Percentage of Players': percentage_by_age
                                })

age_demographics['Percentage of Players'] = age_demographics['Percentage of Players'].map('{:.2f}%'.format)

age_demographics

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

In [160]:
### PURCHASING ANALYSIS BY AGE
purchase_count = age_grouped['Purchase ID'].count()
average_purchase_price = age_grouped['Price'].mean()
total_purchase_value = age_grouped['Price'].sum()
avg_total_purchase_per_person = total_purchase_value / total_age_count

age_purchasing_analysis = pd.DataFrame({'Purchase Count': purchase_count,
                                       'Average Purchase Price': average_purchase_price,
                                       'Total Purchase Value': total_purchase_value,
                                       'Avg Total Purchase per Person': avg_total_purchase_per_person
                                       })

age_purchasing_analysis['Average Purchase Price'] = age_purchasing_analysis['Average Purchase Price'].map('${:.2f}'.format)
age_purchasing_analysis['Total Purchase Value'] = age_purchasing_analysis['Total Purchase Value'].map('${:.2f}'.format)
age_purchasing_analysis['Avg Total Purchase per Person'] = age_purchasing_analysis['Avg Total Purchase per Person'].map('${:.2f}'.format)

age_purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [186]:
### TOP SPENDERS
spenders_grouped = pymoli_df.groupby('SN')
purchase_count_sn = spenders_grouped['Purchase ID'].count()
average_purchase_price_sn = spenders_grouped['Price'].mean()
total_purchase_value_sn = spenders_grouped['Price'].sum()

spenders = pd.DataFrame({'Purchase Count': purchase_count_sn,
                        'Average Purchase Price': average_purchase_price_sn,
                        'Total Purchase Value': total_purchase_value_sn
                        })

formatted_spenders = spenders.sort_values(['Total Purchase Value'], ascending = False).head()

formatted_spenders['Average Purchase Price'] = formatted_spenders['Average Purchase Price'].map('${:.2f}'.format)
formatted_spenders['Total Purchase Value'] = formatted_spenders['Total Purchase Value'].map('${:.2f}'.format)

formatted_spenders

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [194]:
### MOST POPULAR ITEMS
popular_items_grouped = pymoli_df.groupby(['Item ID','Item Name'])
purchase_count_popular = popular_items_grouped['Purchase ID'].count()
avg_item_price = popular_items_grouped['Price'].mean()
total_purchase_value_popular = popular_items_grouped['Price'].sum()

most_popular_items = pd.DataFrame({'Purchase Count': purchase_count_popular,
                                  'Item Price': avg_item_price,
                                  'Total Purchase Value': total_purchase_value_popular})

formatted_popular = most_popular_items.sort_values('Purchase Count',ascending=False).head()

formatted_popular['Total Purchase Value'] = formatted_popular['Total Purchase Value'].map('${:.2f}'.format)
formatted_popular['Item Price'] = formatted_popular['Item Price'].map('${:.2f}'.format)

formatted_popular

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [206]:
### MOST PROFITABLE ITEMS
formatted_profitable = most_popular_items.sort_values('Total Purchase Value',ascending=False).head()

formatted_profitable['Total Purchase Value'] = formatted_profitable['Total Purchase Value'].map('${:.2f}'.format)
formatted_profitable['Item Price'] = formatted_profitable['Item Price'].map('${:.2f}'.format)

formatted_profitable

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80